body {
    background-color: rgb(41, 46, 48);
    font-family: Impact;
    padding: 20px
}

h1 {
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 15px;
    color: rgb(178, 191, 219);
}

h1, h2 {
    font-family: Krinah;
}

h1, h2, p{
    text-align: center;
    margin-top: auto;
}

h2 {
    font-size: 60px;
    color: rgb(178, 191, 219);
}

h3 {
    font-size: 30px;
    color: rgb(178, 191, 219);
    text-align: center;
}

p {
    color: rgb(178, 191, 219);
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 200px;
    width: 250px;
}

hr {
    height: 4px;
    background-color: black;
    border-color: rgb(89, 39, 136);
}


article {
    display: inline-block;
}

.zoom {
    transition: 1s;
}
.zoom:hover {
    transform: scale(1.15);
}

.underline-on-hover:hover {
    text-decoration: underline;
}

.my-area {
    background-color: #fff;
}

.my-area:hover {
    background-color: red;
}

.tables {
    height: 956px;
    width: 904px;
  }
  
.column {
    float: left;
    width: 19%;
    padding: 5px;
    margin-left: auto;
    margin-right: auto;
}
  
/* Clear floats after image containers */
.row::after {
    content: "";
    clear: both;
    display: table;
}

label {
    color:rgb(218, 128, 165)
}

button {
    border-radius: 8px;
    color:rgb(148, 17, 69);
}

form {
    border-radius: 8px;
    text-align: center;
}

